.whole{
    position: relative;
    width:900px;
    height:500px;
    margin-top:50px;
    margin-left:40px;
    border:10px solid #935900;
    background-color: #00541a;
    /* box-shadow: 5px 10px 20px 25px #343434; */
}
.part1{
    position: absolute;
    width:0px;
    height:0px;
    left:313px;
    top:152px;
    border-top: 15px solid #935900;
    border-right: 150px solid transparent;
    transform:rotate(-112deg);
}
.part2{
    position: absolute;
    width: 0;
    height: 0;
    left:332px;
    top:141px;
	border-style: solid;
	border-color: transparent;
	border-width: 15px 0px 10px 150px;
    border-left-color: #935900;
    transform:rotate(-105deg);
}
.part3{
    position: absolute;
    width: 0;
    height: 0;
    left:352px;
    top:127px;
	border-style: solid;
	border-color: transparent;
	border-width: 15px 0px 10px 170px;
    border-left-color: #935900;
    transform:rotate(-92deg);
}
.part4{
    position: absolute;
    width: 0;
    height: 0;
    left:393px;
    top:140px;
	border-style: solid;
	border-color: transparent;
	border-width: 15px 0px 10px 150px;
    border-left-color: #935900;
    transform:rotate(-79deg);
}
.part5{
    position: absolute;
    width:0px;
    height:0px;
    left:421px;
    top:154px;
    border-top: 15px solid #935900;
    border-right: 150px solid transparent;
    transform:rotate(-65deg);
}
.circle{
    position: absolute;
    width:52px;
    height:24px;
    left:410px;
    top:214px;
    border-radius: 50%;
    border: 5px solid #935900;
    z-index: 1;
}